:root {
  --gameWindow: 580px;
  --boardWidth: calc(var(--gameWindow) - 30px);
  --tileWidth: calc(var(--boardWidth) / 11);
  --screenWidth: calc(var(--tileWidth) * 9)
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gameWindow {
  width: var(--gameWindow);
  height: var(--gameWindow);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  width: var(--boardWidth);
  height: var(--boardWidth);
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position:relative;
  color: rgb(37, 36, 36);
}

.tile {
  width: var(--tileWidth);
  height: var(--tileWidth);
  /* box-sizing accounts for borders/margins/padding */
  box-sizing: border-box;
  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
}

.token {
  width: calc(var(--tileWidth)/2);
  height: calc(var(--tileWidth)/2);
  margin: -0.5px;
  text-align: center;
  color:white;
  text-shadow: 1px 1px black;
}

.player1 {
  background-color: black;
  border-radius: 50%;
}

.player2 {
  background-color: purple;
  border-radius: 50%;
}

.player3 {
  background-color: grey;
  border-radius: 50%;
}

.player4 {
  background-color: rgb(0, 255, 200);
  border-radius: 50%;
}

div.tile:nth-child(13),
div.tile:nth-child(16),
div.tile:nth-child(19),
div.tile:nth-child(22),
div.tile:nth-child(25),
div.tile:nth-child(28),
div.tile:nth-child(31),
div.tile:nth-child(34),
div.tile:nth-child(37) {
  width: var(--screenWidth);
  border: none;
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;

  width: var(--screenWidth);
  height: var(--screenWidth);

  border: 1px solid black;
  box-sizing: border-box;
}

#screen h3, 
#screen form, 
#screen button {
  margin: 10px;
}

#screen div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#screen #statusBar {
  background-color: rgb(228, 228, 228);
  width: var(--screenWidth);
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}

#screen #titleDeed {
  width: 180px;
  border: 1px solid black;
  padding: 10px;
  justify-content: flex-start;
  text-shadow: 1px 1px white;
}

#buyOrNotPrompt {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 80px 0 0 0;
}

#buyOrNotPrompt button {
  width: 100px;
  margin: 10px 0 0 0;
}

#colourBar {
  height: 50px;
}


/* CSS RELATED TO INFORMATION WINDOW ON THE RIGHT */

#infoWindow {
  border: 1px solid black;
  width: 200px;
  margin: 5px;
  padding: 10px;
}

#playerInfo {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

#playerInfo div {
  width: 200px;
}